.sousblock{
    
    display: flex;
    justify-content: center;
}




.block{
    background-color: whitesmoke;
    width: 650px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 15px;
}

.cercle{
    display: flex;
    justify-content: center;
    color:white;
    background:#707070 ;
    border-radius:50%;
    border:2px solid #404040 ;
    max-width:120px;
    max-height: 121px ;
  }

  