.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}

.block-battles {
    width: 70%;
    height: calc(100vh - 100px);
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.list-battles-on {
    width: 30%;
}